<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org/" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Flight - Detail</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
</head>
<body>
<div th:if="${user.getRole().toString().equals('USER')}">
    <div th:replace="fragments/normalUser_nav :: main-nav">
    </div>
</div>

<div th:if="${user.getRole().toString().equals('ADMIN')}" >
    <div  th:replace="fragments/dashboard_nav :: main-nav">
    </div>
</div>


<div class="container">
    <h1>View/Edit flight</h1>
</div>
<div class="container">
    <form class="form-horizontal" th:action="${'/flights/'+flight.id}" method="POST">
        <div class="form-group">
            <label class="control-label col-sm-2" for="arl">Airline:</label>
            <div class="col-sm-10" >
                <select th:name="airline" class="form-control" id="arl">
                    <option th:each="airline: ${airlines}" th:value="${airline.id}"
                            th:text="${airline.name}" th:selected="${airline.id== flight.airline.id}"></option>
                </select>
            </div>
        </div>
        <input type="hidden" name="id" th:value="${flight.id}">
        <div class="form-group">
            <label class="control-label col-sm-2" for="flghtnbr">FlightNbr:</label>
            <div class="col-sm-10">
                <input name="flightnr" type="text" class="form-control" id="flghtnbr" th:value="${flight.flightnr}">
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-sm-2" for="org">Origin:</label>
            <div class="col-sm-10">
                <select th:name="origin" class="form-control" id="org">
                    <option th:each="airport: ${airports}" th:value="${airport.id}"
                            th:text="${airport.airportcode}+ ' - ' + ${airport.name} " th:selected="${airport.id== flight.origin.id}"></option>
                </select>
<!--                <input type="text" class="form-control" id="org" th:value="${flight.origin.airportcode}">-->
            </div>
        </div>


        <div class="form-group">
            <label class="control-label col-sm-2" for="dest">Destination:</label>
            <div class="col-sm-10">
                <select th:name="destination" id="dest" class="form-control">
                    <option th:each="airport: ${airports}" th:value="${airport.id}"
                            th:text="${airport.airportcode} + ' - ' + ${airport.name} " th:selected="${airport.id== flight.destination.id}"></option>
                </select>
<!--                <input type="text" class="form-control" id="dest" th:value="${flight.destination.airportcode}">-->
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-sm-2" for="pln">Airplane:</label>
            <div class="col-sm-10">
                <select th:name="airplane" class="form-control" id="pln">
                    <option th:each="airplane: ${airplanes}" th:value="${airplane.id}"
                            th:text="${airplane.model}" th:selected="${airplane.id== flight.airplane.id}"></option>
                </select>
                <!--                <input type="text" class="form-control" id="org" th:value="${flight.origin.airportcode}">-->
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-sm-2" for="dptd">Departure Date:</label>
            <div class="col-sm-10">
                <input name ="departureDate" type="date" class="form-control" id="dptd"
                       th:value="${depDate}">
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-sm-2" for="dptt">Departure time:</label>
            <div class="col-sm-10">
                <input name ="departureTime" type="time" class="form-control" id="dptt"
                       th:value="${depTime}">
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-sm-2" for="arrd">Arrival Date:</label>
            <div class="col-sm-10">
                <input name="arrivalDate" type="date" class="form-control" id="arrd" th:value="${arrDate}">
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-sm-2" for="arrt">Arrival time:</label>
            <div class="col-sm-10">
                <input name="arrivalTime" type="time" class="form-control" id="arrt"
                       th:value="${arrTime}">
            </div>
        </div>

        <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
                <button type="submit" class="btn btn-default">Submit</button>
            </div>
        </div>
    </form>
</div>
</body>
</html>