<!doctype html>
<html xmlns:th="http://www.thymeleaf.org/">
<head>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">

    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>

    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>

</head>
<body>
<div th:if="${user.getRole().toString().equals('USER')}">
    <div th:replace="fragments/normalUser_nav :: main-nav">
    </div>
</div>

<div th:if="${user.getRole().toString().equals('ADMIN')}" >
    <div  th:replace="fragments/dashboard_nav :: main-nav">
    </div>
</div>

<h1>Users List</h1>

<table class="table" id = "users-table">
    <thead>
    <tr>
        <th scope="col">Name</th>
        <th scope="col">Email</th>
        <th scope="col">Link</th>
    </tr>
    </thead>
    <tbody id ="">
    <tr th:each="user: ${users}" class="active">
        <td th:text="${user.name}" />
        <td th:text="${user.email}" />
        <td><a th:href="@{/user/delete/{id} (id=${user.id})}" onclick="return confirm('Are you sure you want to Delete this user?')">Delete</a></td>
    </tr>
    </tbody>
</table>
</body>
</html>