<!doctype html>
<html xmlns:th="http://www.thymeleaf.org/">

<head>
</head>
<body>
<div th:fragment="user-nav">
    <nav class="navbar navbar-inverse">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" href="/bookings/search">TravelPartner </a>
            </div>
            <ul class="nav navbar-nav">
                <li class="active"><a th:href="@{/bookings/user/{id} (id=${user.getId()})}">Bookings</a></li>

                <li><a th:href="@{/user/update/{id} (id=${user.getId()})}">Update Profile</a></li>
                <li><a th:href="@{/user/logout}">Log out</a></li>
            </ul>
        </div>
    </nav>
</div>

</body>
</html>